@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

body {
  margin: 0;
  font-family: "Gowun Batang", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-style: normal;
}

div {
  margin: 0;
  font-family: "Gowun Batang", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-style: normal;
}