.auth-popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 500px;
	background-color: white;
	border: 2px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	z-index: 1000;
	display: flex;
	flex-direction: column;
	overflow: auto;
	box-sizing: border-box;
}

@media (max-width: 600px) {
	.auth-popup {
		width: 95%;
		height: 90vh;
	}
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 15px;
	background: none;
	border: none;
	font-size: 24px;
	color: #888;
	cursor: pointer;
	transition: color 0.3s ease;
	z-index: 1010; 
}

.close-btn:hover {
	color: #333;
}

.auth-popup-body {
	display: flex;
	flex: 1;
	height: 100%;
}

.auth-left {
	width: 40%;
	background-color: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	padding-left: 30px;
	overflow: hidden;
}

.auth-right {
	padding: 0;
	width: 60%;
	background-color: white;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.auth-form {
	display: flex;
    flex-direction: column;
    width: 300px;
    margin: 80px auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

.login-form {
    margin-top: 120px;
}

.auth-form input {
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
    margin-bottom: 20px;
    padding: 10px 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.auth-form input:focus {
    border-bottom-color: #007bff;
}

.auth-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-form button:hover {
    background-color: #0056b3;
}

.auth-footer {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.link-text {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.link-btn {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
    margin-bottom: 10px;
}