.login-popup {
	position: absolute;
	top: 30%;
	left: 30%;
	width: 40%;
	background-color: white;
	border: 2px solid #ccc;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	display: flex;
	justify-content: left;
}

.login-popup-header {
	display: flex;
	justify-content: left;
}

