body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.title-container {
  background-color: white;
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid #f1f1f1;
  /*margin-bottom: 30px;*/
}

.page-layout {
  display: flex;
  width: 100%;
  height: 100vh; 
}

.filter-container {
  width: 250px;
  height: 100vh;
  background-color: #fafafa;
  border-right: 1px solid #e6e6e6;
  padding: 20px;
  overflow: hidden;
}

.courses-container {
  flex: 1;
  background-color: white;
  padding: 20px;
  overflow-y: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
  gap: 1.5rem;
}

.course-card {
  min-height: 250px;
  background-color: #EBF4FA; /* Light blue */
  border: 1px solid #B0C4D4; /* Darker blue border */
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.course-card h4 {
  font-size: 1.25rem;
  margin: 0;
}

.course-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
}

.course-rating p {
  margin: 0;
  font-size: 0.9rem;
}

.course-rating strong {
  font-size: 1.2rem;
  color: #333;
}
.course-rating small {
  font-size: 0.8rem;
  color: #555;
}

.course-price strong {
  font-size: 1.25rem;
  font-weight: 700;
}

/* Section Titles */
.filter-title,
.courses-title {
  margin-top: 0;
  font-size: 20px;
  font-weight: 600;
}

/* Make layout responsive */
@media (max-width: 768px) {
  .find-tutor-layout {
    flex-direction: column;
  }

  .filter-container {
    width: 100%;
  }
}
